<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sylvie Nègre et Odile Tourangin - Interior Design</title>

	<!-- links include -->
	<?php include 'link.html' ?>

	<!-- js include-->
	<?php include 'js.html' ?>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="div_logo">
                <div id="container_logo">
                    <a href="index.php">
                        <img src="<?= IMG ?>logo_v2.png" id="logo" alt="logo site">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
			<?php include 'nav.html' ?>

			<?php include VIEWS . $this->view ?>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<?php include 'footer.html' ?>
		</div>
	</footer>

</body>
</html>