<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Front</title>
	<meta charset="utf-8">

	<!-- links include -->
	<?php include 'link.html' ?>

	<!-- js include-->
	<?php include 'js.html' ?>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<?php include 'nav.html' ?>
		</div>
	</nav>

	<div class="container">
		<?php include VIEWS . $this->view ?>
	</div>

	<footer class="footer">
		<div class="container">
			<?php include 'footer.html' ?>
		</div>
	</footer>

</body>
</html>