<div class="col-md-2" id="menu">
    <img src="<?= IMG ?>interior_design.png" style="width:138px;padding-bottom:55px;">
    <div class="accordion" id="leftMenu">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                    <i class="icon-th"></i> Working sites
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <ul>
                        <li><a href="/project/champ-de-mars">Paris - Champs de Mars</a></li>
                        <li><a href="etoile.php">Paris – Etoile</a></li>
                        <li><a href="ranelagh.php">Paris – Ranelagh</a></li>
                        <li><a href="saint_honore.php">Paris – Saint Honoré</a></li>
                        <li><a href="passy.php">Paris – Passy</a></li>
                        <li><a href="invalides.php">Paris – Invalides</a></li>
                        <li><a href="nollet.php">Paris – Nollet</a></li>
                        <li><a href="ecole_militaire.php">Paris – Ecole Militaire</a></li>
                        <li><a href="montaigne.php">Paris – Montaigne</a></li>
                        <li><a href="neuilly_bineau.php">Neuilly – Bineau</a></li>
                        <li><a href="bosquet.php">Paris – Bosquet</a></li>
                        <li><a href="ile_de_france.php">Ile de France</a></li>
                        <li><a href="dauphine.php">Paris – Dauphine</a></li>
                        <li><a href="triangle_dor.php">Paris – Triangle dOr</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="details.php">
                    <i class="icon-th-list"></i> Details
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="draws.php">
                    <i class="icon-list-alt"></i> Drawings
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="/project?page=out-door-design">
                    <i class="icon-cog"></i> Out door design
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="/contact">
                    <i class="icon-cog"></i> Contact
                </a>
            </div>
        </div>
    </div>
</div>