<div class="col-md-2" id="menu">
    <img src="<?= IMG ?>interior_design.png" style="width:138px;padding-bottom:55px;">
    <div class="accordion" id="leftMenu">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                    <i class="icon-th"></i> Working sites
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <ul>
                        <li><a href="/slider/champ-de-mars">Paris - Champs de Mars</a></li>
                        <li><a href="/slider/etoile">Paris – Etoile</a></li>
                        <li><a href="/slider/ranelagh">Paris – Ranelagh</a></li>
                        <li><a href="/slider/saint-honore">Paris – Saint Honoré</a></li>
                        <li><a href="/slider/passy">Paris – Passy</a></li>
                        <li><a href="/slider/invalides">Paris – Invalides</a></li>
                        <li><a href="/slider/nollet">Paris – Nollet</a></li>
                        <li><a href="/slider/ecole-militaire">Paris – Ecole Militaire</a></li>
                        <li><a href="/slider/montaigne">Paris – Montaigne</a></li>
                        <li><a href="/slider/neuilly-bineau">Neuilly – Bineau</a></li>
                        <li><a href="/slider/bosquet">Paris – Bosquet</a></li>
                        <li><a href="/slider/ile-de-france">Ile de France</a></li>
                        <li><a href="/slider/dauphine">Paris – Dauphine</a></li>
                        <li><a href="/slider/triangle-dor">Paris – Triangle dOr</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="/slider/details">
                    <i class="icon-th-list"></i> Details
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="/slider/draws">
                    <i class="icon-list-alt"></i> Drawings
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="/slider/out-door-design">
                    <i class="icon-cog"></i> Out door design
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a href="/contact">
                    <i class="icon-cog"></i> Contact
                </a>
            </div>
        </div>
    </div>
</div>