<div class="row">
	<div class="col-md-4">
		<a class="btn btn-primary" href="/admin/slider/new">
			<span class="fa fa-plus" aria-hidden="true"></span> Ajouter un slider
		</a>
	</div>
</div>
<hr/>
<div class="row">
	<div class="slider-wrap">
		<?php if($sliders): ?>
			<?php foreach($sliders as $slider): ?>
				<div class="col-md-4">
					<p>Slider : <?= $slider->name ?></p>
					<?php if($slider->thumb !== null): ?>
						<a href="/admin/slider/edit/<?= $slider->id ?>">
							<img src="<?= IMG . 'gallery/' . $slider->id . '/' . $slider->thumb ?>" alt=""/>
						</a>
					<?php else: ?>
						<a href="/admin/slider/edit/<?= $slider->id ?>">
							<i class="fa fa-image fa-5x"></i>
						</a>
					<?php endif ?>
				</div>
			<?php endforeach ?>
		<?php else: ?>
			<div class="col-md-4">
				<p>Aucun slider crée pour le moment</p>
			</div>
		<?php endif ?>
	</div>
</div>